 .text {
	 margin-bottom: 20px;
}
 .icon {
	 display: inline-block;
	 width: 1em;
	 height: 1em;
	 fill: currentColor;
	 stroke: currentColor;
	 stroke-width: 0;
}
 .a-dropdown {
	 position: relative;
	 max-width: 100%;
     width:100%
}
 .a-dropdown__select {
	 display: none;
	/*hide original SELECT element: */
}
 .a-dropdown__arrow {
	 position: absolute;
	 top: 16px;
	 right: 20px;
	 transform: rotate(0deg);
	 z-index: 2;
	transition: 0.5s ease;
}
 .-isOpened .a-dropdown__arrow {
	 transform: rotate(-180deg);
transition: 0.5s ease;
}
 .a-dropdown__selected {
	 position: relative;
	 padding: 4px 10px;
	 font-size: 16px;
	 font-weight: bold;
	 line-height: 20px;
	 text-transform: uppercase;
	 background: #fff;
	
	 border-radius: 5px;
	 cursor: pointer;
	 z-index: 1;
}


 @media (min-width: 768px) {
	.a-dropdown__selected {
    padding: 14px 17px;
    font-size: 16px;
    line-height: 20px;
}

}
 .a-dropdown__items {
	 position: relative;
	 top: 100%;
	 right: 0;
	 left: 0;
	 margin-top: -5px;
	 background: #fff;
	 /*border: 2px solid #000;*/
	 border-radius: 5px;
	 z-index: 0;
	/* Hide the items when the select box is closed: */
}

 .a-dropdown__items.-hidden {
	 display: none;
}
 .a-dropdown__item {
	 font-size: 16px;
	 font-weight: bold;
	 line-height: 20px;
	 cursor: pointer;
}
 @media (min-width: 768px) {
	 .a-dropdown__item {
         font-size: 16px;
	}
}
 .a-dropdown__item.-selected {
	 display: none;
}

.a-dropdown__item {
    padding: 15px;
}
 
.a-dropdown__items .a-dropdown__item:nth-child(1) {
    display: none !important;
}

   select:required:invalid {
        color: #666;
      }
      option[value=""][disabled] {
        display: none;
      }
      option {
        color: #000;
      }
.a-dropdown__item:hover {
    background-color: #000;
    color: #fff;
    transition: 0.3s ease;
}

